<div class="list row">

  <div class="col-md-6">
    <h4 *ngIf="customers">Customer List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let customer of customers; let i = index"
        (click)="setActiveCustomer(customer, i)"
      >
        {{ customer.firstName }} {{customer.lastName}}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentCustomer.id">
      <h4>Customer</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentCustomer.firstName }} {{currentCustomer.lastName}}
      </div>
      <button type="button" class="btn btn-primary pull-right" (click)="generateInvoice(currentCustomer.id);"><i class="fa fa-plus"></i> GENERATE INVOICE</button>

    </div>

    <div *ngIf="currentCustomer.id">
      <h4>Report</h4>

    </div>
  </div>
</div>
